body {
    background: #aaa;
}

.main-view {
    display: flex;
}

.grid-view {
    margin-bottom: 50px;
    display: grid;
    grid-gap: 3px;
    width: 500px;
    height: 500px;
    list-style: none;
}

.grid-view li {
    transition: all 0.5s ease;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.grid-button {
    background-color: #999;
    transition: background-color 0.25s ease;
}

ul.sequencer-control-list {
    list-style: none;
}

.sequencer-control-list li {
    margin: 2px;
    border: 1px solid transparent;
}

.sequencer-control-list li.active {
    border: 1px solid black;
}

.sequencer-control {
    display: flex;
    justify-content: space-between;
}

.sequencer-control button {
    height: 20px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid yellow;
    color: yellow;
    margin: 5px;
    outline: unset;
}

.direction-selector {
    list-style: none;
    display: grid;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.direction-selector button {
    margin: 0px;
    width: auto;
    height: auto;
    background-color: transparent;
    border: 1px solid transparent;
    outline: unset;
}

.direction-selector button:hover {
    border: 1px solid yellow;
}

.rotate-45 {
    transform: rotate(45deg);
}

.knob-frame {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.knob-frame .knob {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid black;
    background-color: #af5f1a;
}
.knob-frame .knob:after {
    left: 24px;
    position: absolute;
    content: '';
    width: 1px;
    height: 24px;
    background-color: black;
}

.led-color-1 {
    background-color: #a23;
}

.led-color-2 {
    background-color: #23f;
}

.led-color-3 {
    background-color: #fa3;
}

.led-color-4 {
    background-color: #29f;
}

.led-color-5 {
    background-color: #6a0;
}

.led-color-6 {
    background-color: #a30;
}

.led-color-7 {
    background-color: #774;
}
